<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <header>
        <a href="/">Home</a>/
        <a href="/items">Items</a>/
        <a href="/about">About</a>
    </header>
    <br><br>
    Имя: <b>{{author.name}}</b><br>
    Фамилия: <b>{{author.surname}}</b><br>
    Отчество: <b>{{author.lastname}}</b><br>
    Телефон: <b>{{author.phone}}</b><br>
    Почта: <b>{{author.email}}</b><br>
</body>
</html>