<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <header>
        <a href="/">Home</a>/
        <a href="/items">Items</a>/
        <a href="/about">About</a>
    </header>
    <br><br>
    <h1>Приветствую!</h1>
    Это главная страница сайта<br>
    Меня зовут: {{name}} <br>
    Моя почта: {{email}} <br><br>
    <i>Сайт сейчас в разработке...</i><br>
    <i>Но Вы можете посетить страницу со списком товаров</i>
    <br><br>
    <b><a href="/items">Доступные товары</a></b>
</body>
</html>