{% extends "base.html" %}

{% load static %}

{% block title %}
    Item
{% endblock  %}

{% block style %}
   {{block.super}}
   <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock  %}

{% block content %}
    {{block.super}}
    <br><br>
    <h1>{{item.name}}</h1>
    <div>
        brand: <b>{{item.brand}}</b><br>
    </div>
    
    <div>
        {% if item.count != 0 %}
            count: <b>{{item.count}}</b>
        {% else %}
            <b>Товар отсутствует</b>
        {% endif %}
    </div>
    <div>
        {% if  colors%}
            <ul class="no_marks">
                {% for color in colors %}
                    <li><div class="div_color" style="background-color: {{color.name}}"></div>&nbsp;&nbsp; {{color.name}}</li>
                {% endfor %}
            </ul>
        {% else %}
            Данных по цветам нет
        {% endif %}
    </div>
    <div>
        note: <b>{{item.note}}</b>
    </div>
    <br>
    <b><a href="{% url "items" %}">Назад к списку товаров</a></b>
{% endblock  %}